@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&family=Ultra&display=swap);
body {
  margin: 0;
  padding: 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 5vw;
  justify-content: space-between;
  background-color: #eddabf;
}

.card {
  width: 43vw;
  height: 64.5vw;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.card .topo .energy {
  width: 6.45vw;
  height: 6.45vw;
  background-color: #3959cc;
  margin-top: 3.225vw;
  margin-left: 3.225vw;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-size: 5.16vw;
  font-family: "Ultra", serif;
  font-weight: 400;
}
.card .skill {
  width: 25.8vw;
  height: 4.3vw;
  margin-top: 31.175vw;
  margin-left: 15.05vw;
}
.card .description {
  width: 30.1vw;
  height: 8.6vw;
  margin-top: 1.075vw;
  margin-left: 6.45vw;
  border-radius: 43vw;
  color: #fff;
  padding: 2.15vw;
  font-size: 2.15vw;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.card .description .debuff {
  font-weight: 500;
  color: #ffe500;
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #fff599;
  color: #121;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  width: 25.8vw;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  margin-left: -10.32vw;
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.aqua .description {
  background: linear-gradient(360deg, #12384d 0%, #194b66 100%);
}

.plant .description {
  background: linear-gradient(360deg, #344b21 0%, #425f2b 100%);
}

.bug .description {
  background: linear-gradient(360deg, #501515 0%, #642a2a 100%);
}

.beast .description {
  background: linear-gradient(360deg, #562f12 0%, #703e1b 100%);
}

.bird .description {
  background: linear-gradient(360deg, #4b202e 0%, #662a3d 100%);
}

.reptile .description {
  background: linear-gradient(360deg, #432131 0%, #552c3e 100%);
}

@media (min-width: 576px) {
  .card {
    width: 29vw;
    height: 43.5vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
  }
  .card .topo .energy {
    width: 4.35vw;
    height: 4.35vw;
    background-color: #3959cc;
    margin-top: 2.175vw;
    margin-left: 2.175vw;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: 3.48vw;
    font-family: "Ultra", serif;
    font-weight: 400;
  }
  .card .skill {
    width: 17.4vw;
    height: 2.9vw;
    margin-top: 21.025vw;
    margin-left: 10.15vw;
  }
  .card .description {
    width: 20.3vw;
    height: 5.8vw;
    margin-top: 0.725vw;
    margin-left: 4.35vw;
    border-radius: 29vw;
    color: #fff;
    padding: 1.45vw;
    font-size: 1.45vw;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
  }
  .card .description .debuff {
    font-weight: 500;
    color: #ffe500;
    cursor: pointer;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: #fff599;
    color: #121;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    width: 17.4vw;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    margin-left: -6.96vw;
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}
@media (min-width: 768px) {
  .card {
    width: 19vw;
    height: 28.5vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
  }
  .card .topo .energy {
    width: 2.85vw;
    height: 2.85vw;
    background-color: #3959cc;
    margin-top: 1.425vw;
    margin-left: 1.425vw;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: 2.28vw;
    font-family: "Ultra", serif;
    font-weight: 400;
  }
  .card .skill {
    width: 11.4vw;
    height: 1.9vw;
    margin-top: 13.775vw;
    margin-left: 6.65vw;
  }
  .card .description {
    width: 13.3vw;
    height: 3.8vw;
    margin-top: 0.475vw;
    margin-left: 2.85vw;
    border-radius: 19vw;
    color: #fff;
    padding: 0.95vw;
    font-size: 0.95vw;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
  }
  .card .description .debuff {
    font-weight: 500;
    color: #ffe500;
    cursor: pointer;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: #fff599;
    color: #121;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    width: 11.4vw;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    margin-left: -4.56vw;
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}
@media (min-width: 992px) {
  .card {
    width: 18vw;
    height: 27vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
  }
  .card .topo .energy {
    width: 2.7vw;
    height: 2.7vw;
    background-color: #3959cc;
    margin-top: 1.35vw;
    margin-left: 1.35vw;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: 2.16vw;
    font-family: "Ultra", serif;
    font-weight: 400;
  }
  .card .skill {
    width: 10.8vw;
    height: 1.8vw;
    margin-top: 13.05vw;
    margin-left: 6.3vw;
  }
  .card .description {
    width: 12.6vw;
    height: 3.6vw;
    margin-top: 0.45vw;
    margin-left: 2.7vw;
    border-radius: 18vw;
    color: #fff;
    padding: 0.9vw;
    font-size: 0.9vw;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
  }
  .card .description .debuff {
    font-weight: 500;
    color: #ffe500;
    cursor: pointer;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: #fff599;
    color: #121;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    width: 10.8vw;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    margin-left: -4.32vw;
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}
@media (min-width: 1200px) {
  .card {
    width: 17vw;
    height: 25.5vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
  }
  .card .topo .energy {
    width: 2.55vw;
    height: 2.55vw;
    background-color: #3959cc;
    margin-top: 1.275vw;
    margin-left: 1.275vw;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: 2.04vw;
    font-family: "Ultra", serif;
    font-weight: 400;
  }
  .card .skill {
    width: 10.2vw;
    height: 1.7vw;
    margin-top: 12.325vw;
    margin-left: 5.95vw;
  }
  .card .description {
    width: 11.9vw;
    height: 3.4vw;
    margin-top: 0.425vw;
    margin-left: 2.55vw;
    border-radius: 17vw;
    color: #fff;
    padding: 0.85vw;
    font-size: 0.85vw;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
  }
  .card .description .debuff {
    font-weight: 500;
    color: #ffe500;
    cursor: pointer;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: #fff599;
    color: #121;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    width: 10.2vw;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    margin-left: -4.08vw;
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}
@media (min-width: 1400px) {
  .card {
    width: 10vw;
    height: 15vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
  }
  .card .topo .energy {
    width: 1.5vw;
    height: 1.5vw;
    background-color: #3959cc;
    margin-top: 0.75vw;
    margin-left: 0.75vw;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: 1.2vw;
    font-family: "Ultra", serif;
    font-weight: 400;
  }
  .card .skill {
    width: 6vw;
    height: 1vw;
    margin-top: 7.25vw;
    margin-left: 3.5vw;
  }
  .card .description {
    width: 7vw;
    height: 2vw;
    margin-top: 0.25vw;
    margin-left: 1.5vw;
    border-radius: 10vw;
    color: #fff;
    padding: 0.5vw;
    font-size: 0.5vw;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
  }
  .card .description .debuff {
    font-weight: 500;
    color: #ffe500;
    cursor: pointer;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: #fff599;
    color: #121;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    width: 6vw;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    margin-left: -2.4vw;
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}
