$footer-after-color: darken($bg-color, 50);
$footer-color: darken($bg-color, 5);

footer {
    height: 400px;
    background-color: $footer-color;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: $footer-after-color;
    a {
        text-align: center;
        margin-top: 25px;
        max-width: 350px;
        text-decoration: none;
        color: $footer-after-color;
        border: 1px solid;
        border-radius: 10px;
        padding: 1em 0.5em;
        background-color: $bg-color;
    }

    a:hover {
        text-decoration: underline;
        color: darken($footer-after-color, 10);
        background-color: darken($bg-color, 10);
    }
}

footer::before {
    content: "";
    position: relative;
    display: block;
    height: 25px;
    width: 100vw;
    opacity: 0.4;
    border-top: $footer-after-color dotted 5px;
    border-bottom: $footer-after-color dotted 5px;
    background: linear-gradient(
                45deg,
                transparent,
                transparent 9px,
                $footer-after-color 9px,
                $footer-after-color 13px,
                transparent 13px,
                transparent
            )
            10px -4px,
        linear-gradient(
                -45deg,
                transparent,
                transparent 9px,
                $footer-after-color 9px,
                $footer-after-color 13px,
                transparent 13px,
                transparent
            )
            0px -4px;

    background-size: 25px 25px, 25px 25px;
    background-repeat: repeat-x;
}
