@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&family=Ultra&display=swap");
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "variables";

body {
    margin: 0;
    padding: 0;
}

// Estilo componentes
/* <select> styles */
select {
    /* Reset */
    appearance: none;
    border: 1px solid;
    border-radius: 10px;
    outline: 0;
    font: inherit;
    /* Personalize */
    height: 3em;
    padding: 0 4em 0 1em;
    background: url(../svg/down.svg) no-repeat right 0.8em center / 1.4em,
        linear-gradient(to left, $glass-icon 0%, $glass 100%);
    color: $preto;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 0.5em 1em;
    cursor: pointer;
    /* <option> colors */
    option {
        color: inherit;
        background-color: $option;
    }
    /* Remove focus outline */
    &:focus {
        outline: none;
    }
    /* Remove IE arrow */
    &::-ms-expand {
        display: none;
    }
}
@import "header";
@import "footer";
