@import "variables";

@mixin card($card-width) {
    .filter {
        .select {
            width: $card-width * 2;
        }
    }
    .cardshow {
        width: $card-width;
        height: calc(1350 * $card-width / 900);
        background-size: cover;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        // background-image: url("../img/frame.png");
        * {
            z-index: 5;
        }
        &::before{
            content: "";
            background-image: url("../img/frame.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: $card-width;
            height: calc(1350 * $card-width / 900);
            position: absolute;
            float: left;
            z-index: 3;
        }

        &::after{
            content: "";
            background-color: darkcyan;
            width: calc($card-width * 0.82);
            height: calc($card-width * 1.34);
            position: absolute;
            float: left;
            z-index: 1;
            margin-left: calc($card-width * 0.14);
            margin-top: calc($card-width * 0.14);
        }

        .topo {
            display: flex;
            width: $card-width;
            min-height: calc($card-width * 15 / 100);
            .energy {
                display: flex;
                align-items: center;
                justify-content: center;
                width: calc($card-width * 0.25);
                height: calc($card-width * 0.25);
                margin-top: calc($card-width * 0.02);
                margin-left: calc($card-width * 0.02);
                margin-right: calc($card-width * 0.02);
                border-radius: 50%;
                color: $branco;
                font-size: calc($card-width * 12 / 100);
                font-family: "Ultra", serif;
                font-weight: 400;
                background-image: url('../img/energy-icon.png');
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;

                p {
                    border-radius: 50%;
                    width: calc($card-width * 0.15);
                    height: calc($card-width * 0.15);
                    text-align: center;
                }
            }
            .atack {
                background-image: url("../img/damage.png");
            }
            .defense {
                background-image: url("../img/shield.png");
            }
            .heal {
                background-image: url("../img/heal.png");
            }
            .atack, .defense, .heal {
                align-items: center;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                text-align: center;
                width: calc($card-width * 0.26);
                height: calc($card-width * 15 / 100);
                margin-top: calc($card-width * 0.09);
                position: relative;
                color: $branco;
                font-size: calc($card-width * 0.095);
                font-family: "Roboto", serif;
                font-weight: 900;

            }
        }
        .img {
            display: flex;
            width: calc($card-width * 0.83);
            height: calc($card-width * 0.83);
            background-size: cover;
            position: absolute;
            float: left;
            z-index: 2;
            margin-left: calc($card-width * 0.13);
            margin-top: calc($card-width * 0.15);
            &::before{
                content: "";
                width: calc($card-width * 0.83);
                height: calc($card-width * 0.83);
                // opacity: 1;
            }
        }

        .info {
            width: calc($card-width * 85 / 100);
            height: calc($card-width * 0.2);
            margin-left: calc($card-width * 10 / 100);
            display: grid;
            margin-top: calc($card-width * 0.58);
            color: $branco;
            font-family: "Roboto", sans-serif;
            font-weight: 600;
            font-size: calc($card-width * 0.06);
            column-gap: 0;
            row-gap: 0;
            &::before{
                content: "";
                grid-row: 1/3;
                grid-column: 1;
                width: calc($card-width * 0.25);
                height: calc($card-width * 0.25);
                background-position: top center;
                background-repeat: no-repeat;
                background-size: 80%;
            }
            .name {
                width: calc($card-width * 0.5);
                height: 45%;
                grid-column: 2;
                grid-row: 1;
            }
            .efect {
                width: calc($card-width * 0.5);
                height: 45%;
                grid-column: 2;
                grid-row: 2;
                font-size: 0px;
                display: flex;
                .skill {
                    background-image: url("../img/skill.png");
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: calc($card-width * 0.22);
                    height: calc($card-width * 0.1);
                }
                .attack {
                    background-image: url("../img/attack.png");
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: calc($card-width * 0.26);
                    height: calc($card-width * 0.1);
                }
                .banish {
                    background-image: url("../img/banish.png");
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: calc($card-width * 0.26);
                    height: calc($card-width * 0.1);
                }
                .power {
                    background-image: url("../img/power.png");
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: calc($card-width * 0.24);
                    height: calc($card-width * 0.1);
                }
                .secret {
                    background-image: url("../img/secret.png");
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: calc($card-width * 0.27);
                    height: calc($card-width * 0.1);
                }
                .retain_effect {
                    background-image: url("../img/retain_effect.png");
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: calc($card-width * 0.26);
                    height: calc($card-width * 0.1);
                }
            }
        }

        .description {
            width: calc($card-width * 70 / 100);
            height: calc($card-width * 0.37);
            margin-top: calc($card-width * 0.015);
            margin-left: calc($card-width * 15 / 100);
            border-bottom-left-radius: calc($card-width * 5 / 100);
            border-bottom-right-radius: calc($card-width * 5 / 100);
            color: $branco;
            padding-top: calc($card-width * 0.05);
            padding-left: calc($card-width * 0.05);
            padding-right: calc($card-width * 0.05);
            font-size: calc($card-width * 5 / 100);
            text-align: center;
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            background-size: calc($card-width * 0.08);
            background-repeat: no-repeat;
            background-position: bottom center;

            .debuff {
                font-weight: 500;
                color: #ffe500;
                cursor: pointer;
            }
        }
    }
    // TOOLTIP
    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        background-color: lighten(#ffe500, 30);
        color: #121;
        text-align: center;
        border-radius: 6px;
        padding: 5px 5px;
        width: calc($card-width * 60 / 100);

        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        bottom: 100%;
        margin-left: calc($card-width * 60 / 190 * -1);

        /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
        opacity: 0;
        transition: opacity 1s;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
}

.hide-by-class {
    display: none !important;
}
.hide-by-part {
    display: none !important;
}
.hide-by-efect {
    display: none !important;
}
.hide-by-power {
    display: none !important;
}
.hide-by-energy {
    display: none !important;
}
.cards,
.filter {
    display: flex;
    flex-wrap: wrap;
    padding-left: 5vw;
    padding-right: 5vw;
    background-color: $bg-color;
}

.cards {
    justify-content: space-evenly;
    padding-top: 2.5vw;
    padding-bottom: 5vw;
}

.filter {
    justify-content: start;
    padding-top: 5vw;
    padding-bottom: 2.5vw;
}

@include card(43vw);

.aquatic{
    &::after {
        background: linear-gradient(360deg, rgb(18, 56, 77) 0%, rgb(25, 75, 102) 100%);
    }
    .img::before{
        background-image: linear-gradient(transparent 70%, rgb(18, 56, 77));
    }
}
.plant{
    &::after {
        background: linear-gradient(360deg, rgba(52, 75, 33, 255) 0%, rgba(66, 95, 43, 255) 100%);
    }
    .img::before{
        background-image: linear-gradient(transparent 70%, rgba(52, 75, 33, 255));
    }
}
.bug{
    &::after {
        background: linear-gradient(360deg, rgb(80, 21, 21) 0%, rgba(100, 42, 42, 255) 100%);
    }
    .img::before{
        background-image: linear-gradient(transparent 70%, rgb(80, 21, 21));
    }
}
.beast{
    &::after {
        background: linear-gradient(360deg, rgba(86, 47, 18, 255) 0%, rgba(112, 62, 27, 255) 100%);
    }
    .img::before{
        background-image: linear-gradient(transparent 70%, rgba(86, 47, 18, 255));
    }
}
.bird{
    &::after {
        background: linear-gradient(360deg, rgba(75, 32, 46, 254) 0%, rgba(102, 42, 61, 255) 100%);
    }
    .img::before{
        background-image: linear-gradient(transparent 70%, rgba(75, 32, 46, 254));
    }
}
.reptile{
    &::after {
        background: linear-gradient(360deg, rgba(67, 33, 49, 255) 0%, rgba(85, 44, 62, 255) 100%);
    }
    .img::before{
        background-image: linear-gradient(transparent 70%, rgba(67, 33, 49, 255));
    }
}
.dawn{
    &::after {
        background: linear-gradient(360deg, #251F38 0%, #3D305A 100%);
    }
    .img::before{
        background-image: linear-gradient(transparent 70%, #251F38);
    }
}
.mech{
    &::after {
        background: linear-gradient(360deg, #2A2C2D 0%, #3A3A3D 100%);
    }
    .img::before{
        background-image: linear-gradient(transparent 70%, #2A2C2D);
    }
}
.aquatic .description {
    background-image: url('../img/aquatic.png');
}
.plant .description {
    background-image: url('../img/plant.png');
}
.bug .description {
    background-image: url('../img/bug.png');
}
.beast .description {
    background-image: url('../img/beast.png');
}
.bird .description {
    background-image: url('../img/bird.png');
}
.reptile .description {
    background-image: url('../img/reptile.png');
}
.mech .description {
    background-image: url('../img/mech.png');
}
.dusk .description {
    background-image: url('../img/dusk.png');
}
.dawn .description {
    background-image: url('../img/dawn.png');
}

.back .info::before{
    background-image: url('../img/back.png');
}
.mouth .info::before{
    background-image: url('../img/mouth.png');
}
.tail .info::before{
    background-image: url('../img/tail.png');
}
.horn .info::before{
    background-image: url('../img/horn.png');
}
.eyes .info::before{
    background-image: url('../img/eyes.png');
}
.ears .info::before{
    background-image: url('../img/ears.png');
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    @include card(29vw);
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    @include card(19vw);
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    @include card(18vw);
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    @include card(17vw);
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    @include card(10vw);
}
