@import "variables";

@mixin action($card-width, $color) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color;
    width: calc($card-width * 29 / 100);
    height: calc($card-width * 15 / 100);
    margin-top: calc($card-width * 0.09);
    position: relative;
    left: calc($card-width * 0.03 * -1);
    border-bottom-right-radius: 40%;
    color: $branco;
    font-size: calc($card-width * 0.095);
    font-family: "Roboto", serif;
    font-weight: 900;
    &:before {
        content: " ";
        background-color: #ccb8a4;
        height: calc($card-width * 15 / 100);
        border-right: calc($card-width * 0.028) solid #ccb8a4;
        border-top-right-radius: 100%;
        border-bottom-right-radius: 100%;
        left: -1px;
    }
    &:after {
        content: " ";
        background-color: transparent;
        height: calc($card-width * 13 / 100);
        border-right: calc($card-width * 0.06) solid $color;
        border-bottom-right-radius: 600%;
    }
}

@mixin card($card-width) {
    .filter {
        .select {
            width: $card-width * 2;
        }
    }
    .card {
        width: $card-width;
        height: calc(1350 * $card-width / 900);
        background-size: cover;
        display: flex;
        flex-direction: column;
        background-image: url("../img/frame.png");

        .topo {
            display: flex;
            width: $card-width;
            min-height: calc($card-width * 15 / 100);
            .energy {
                display: flex;
                align-items: center;
                justify-content: center;
                width: calc($card-width * 0.3);
                height: calc($card-width * 0.3);
                border-radius: 50%;
                color: $branco;
                font-size: calc($card-width * 12 / 100);
                font-family: "Ultra", serif;
                font-weight: 400;

                p {
                    background-color: #0030db;
                    border-radius: 50%;
                    width: calc($card-width * 0.15);
                    height: calc($card-width * 0.15);
                    text-align: center;
                }
            }
            .atack {
                @include action($card-width, #bc061b);
            }
            .defense {
                @include action($card-width, #0054a6);
            }
            .heal {
                @include action($card-width, #008c60);
            }
        }
        .img {
            width: $card-width;
            min-height: calc($card-width * 50 / 100);
        }

        .skill {
            width: calc($card-width * 85 / 100);
            height: calc($card-width * 27 / 100);
            // margin-top: calc($card-width * 72.5 / 100);
            margin-left: calc($card-width * 10 / 100);
        }

        .description {
            width: calc($card-width * 70 / 100);
            height: calc($card-width * 20 / 100);
            margin-top: calc($card-width * 2.5 / 100);
            margin-left: calc($card-width * 15 / 100);
            border-bottom-left-radius: calc($card-width * 5 / 100);
            border-bottom-right-radius: calc($card-width * 5 / 100);
            color: $branco;
            padding: calc($card-width * 5 / 100);
            font-size: calc($card-width * 5 / 100);
            text-align: center;
            font-family: "Roboto", sans-serif;
            font-weight: 300;

            .debuff {
                font-weight: 500;
                color: #ffe500;
                cursor: pointer;
            }
        }
    }
    // TOOLTIP
    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        background-color: lighten(#ffe500, 30);
        color: #121;
        text-align: center;
        border-radius: 6px;
        padding: 5px 5px;
        width: calc($card-width * 60 / 100);

        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        bottom: 100%;
        margin-left: calc($card-width * 60 / 190 * -1);

        /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
        opacity: 0;
        transition: opacity 1s;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
}

.hide-by-class {
    display: none !important;
}
.hide-by-part {
    display: none !important;
}
.hide-by-efect {
    display: none !important;
}
.hide-by-power {
    display: none !important;
}
.hide-by-energy {
    display: none !important;
}
.cards,
.filter {
    display: flex;
    flex-wrap: wrap;
    padding-left: 5vw;
    padding-right: 5vw;
    background-color: $bg-color;
}

.cards {
    justify-content: space-evenly;
    padding-top: 2.5vw;
    padding-bottom: 5vw;
}

.filter {
    justify-content: start;
    padding-top: 5vw;
    padding-bottom: 2.5vw;
}

@include card(43vw);

.aqua .description {
    background: linear-gradient(360deg, rgb(18, 56, 77) 0%, rgb(25, 75, 102) 100%);
}
.plant .description {
    background: linear-gradient(360deg, rgba(52, 75, 33, 255) 0%, rgba(66, 95, 43, 255) 100%);
}
.bug .description {
    background: linear-gradient(360deg, rgb(80, 21, 21) 0%, rgba(100, 42, 42, 255) 100%);
}
.beast .description {
    background: linear-gradient(360deg, rgba(86, 47, 18, 255) 0%, rgba(112, 62, 27, 255) 100%);
}
.bird .description {
    background: linear-gradient(360deg, rgba(75, 32, 46, 254) 0%, rgba(102, 42, 61, 255) 100%);
}
.reptile .description {
    background: linear-gradient(360deg, rgba(67, 33, 49, 255) 0%, rgba(85, 44, 62, 255) 100%);
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    @include card(29vw);
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    @include card(19vw);
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    @include card(18vw);
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    @include card(17vw);
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    @include card(10vw);
}
