@import "variables";
.itens,
.description,
.filter {
    display: flex;
    flex-wrap: wrap;
    background-color: $bg-color;
}

.description,
.filter {
    padding-left: 5vw;
    padding-right: 5vw;
}

.description {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: $text-color;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

.itens {
    padding-left: 0vw;
    padding-right: 0vw;
    img {
        width: 100%;
        max-width: 900px;
    }
}
